.box {
  display: flex;
  flex-direction: column; }
  .box__top {
    flex-grow: .8;
    border: 1px solid #D9D9D9;
    border-radius: 5px 5px 0 0;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  .box__bottom {
    flex-grow: 3;
    border: 1px solid #D9D9D9;
    border-radius: 0 0 5px 5px;
    background-color: #FFFDF0;
    color: #2B2A23; }
    .box__bottom__title {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .box__bottom__text {
      font-size: 1.5rem;
      margin: 0 1rem; }

.works-box {
  display: grid;
  grid-template-columns: 10rem 30rem;
  grid-template-rows: 10rem;
  margin: 2rem 0;
  border: 1px solid #F0E7E7;
  color: #F0E7E7;
  font-size: 3rem; }
  .works-box i {
    margin: auto;
    font-size: 4rem; }
  .works-box__text {
    display: flex; }
    .works-box__text div {
      flex: 0 0 5rem;
      margin: auto;
      text-align: center; }
    .works-box__text p {
      flex: 1 0 80rem;
      margin: auto 0;
      margin-left: 5rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  color: #D9D9D9;
  font-weight: 300;
  line-height: 1.6; }

.navi {
  display: flex;
  flex-direction: row; }

.container {
  display: grid;
  grid-template-rows: [banner-top] calc(100vh - 10rem) [banner-bottom feature-top] 50rem [feature-bottom works-top] 60rem [works-bottom] repeat(4, [section] 60vw) [footer-top] 10rem [footer-bottom grid-bottom]; }

.banner {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 60%, black 100%), url(../../img/hero/Mars.jpg);
  background-size: cover;
  background-position: cover;
  background-attachment: fixed; }
  .banner__text {
    color: #F0E7E7;
    grid-area: 2/2/2/6; }
    .banner__text__title {
      font-size: 8rem; }
    .banner__text__slogan {
      font-size: 3rem;
      transform: translateX(5rem); }
    .banner__text__blurb {
      font-size: 1.8rem;
      transform: translateY(15rem); }
      .banner__text__blurb p {
        padding: 1rem 0; }

.contact {
  background-color: plum; }

.feature {
  background-color: #FAF2CA; }
  .feature__wrapper {
    max-width: 120rem;
    height: 40rem;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(4, 25rem);
    grid-gap: 3rem;
    justify-content: space-around; }

.footer {
  background-color: slategray; }

.gallery {
  background-color: royalblue;
  color: white; }

.launch {
  background-color: cadetblue; }

.navi {
  background-color: #2B2A23; }
  .navi__logo-lg {
    flex: 0 0 10rem;
    justify-self: center;
    width: 10rem;
    height: 10rem;
    padding: 1rem 2rem; }
  .navi__menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
    font-size: 2rem;
    color: #F0E7E7; }
    .navi__menu li {
      flex: 0 1 18rem;
      align-self: center;
      align-content: center;
      list-style: none;
      display: inline-block;
      text-align: center; }
    .navi__menu li a:link,
    .navi__menu li a:visited {
      color: #E3E3E3;
      text-decoration: none; }

.visit {
  background-color: slateblue;
  color: white; }

.works {
  background-color: #5C2005;
  color: #F0E7E7;
  display: grid; }
  .works__wrap {
    width: 120rem;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 3rem; }
    .works__wrap__title {
      text-align: center;
      color: #F0E7E7; }
