
// #region GENERAL MIXINS
// ----------------------
// Centre-aligns a wrapper div
@mixin inner-div-txt {
  width: $inner-width;
  margin: 0 auto;

  align-items: center;
  justify-content: center;

  @include respond(desktop) {
    width: $inner-width-desktop;
  }

  @include respond (laptop) {
    width: $inner-width-laptop;
  }

  @include respond (tab-land) {
    width: $inner-width-tab-land;
  }

  @include respond(tab-port) {
    width: $inner-width-tab-port;
  }

  @include respond(phone-land) {
    width: $inner-width-phone-land;
  }

  @include respond(phone) {
    width: $inner-width-phone;
  }
}

@mixin section-title {
  height: $section-title-height;
  font-size: $font-secondary-title-size;
  padding-top: $section-padding-top;
  padding-bottom: $section-title-padding-bottom;
  text-align: center;
}

@mixin section-padding {
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;
}
// #endregion


// #region FOUR-BOXES MIXINS:
// -------------------------
// Section layout
@mixin four-boxes-section {
  grid-column: far-left / far-right;

  display: grid;
  // grid-template-columns: 1fr minmax(30rem, 70vw) 1fr;
}

// Outer wrap layout
@mixin four-boxes-wrap {
  margin: $fourboxes-wrap-margin-y $fourboxes-wrap-margin-x;
  grid-column: 2/3;
  width: $inner-width;

  background-color: $color-yellow-2;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  @include respond(desktop) {
    width: $inner-width-desktop;
  }

    @include respond(laptop) {
    width: $inner-width-laptop;
  }

    @include respond(tab-land) {
      width: $inner-width-tab-land;
  }

  @include respond(phone-land) {
    width: $inner-width-phone-land;
  }

  @include respond(phone) {
    width: $inner-width-phone;
  }

}
// #endregion


// TEXT-IMAGE BOX MIXIN:
// --------------------
@mixin txt-img-box {
  width: 100%;
  padding: 0 2rem;
  height: $txtimg-rowheight;

  display: flex;
  flex-wrap: wrap;

  @include respond(tab-port) {
    padding: 1rem 0 2rem 0;
    flex-direction: column;
    height: auto;
  }

  &__txt {
    flex: 1 1 50%;
    min-width: 40rem;
    padding: 5rem;
    align-self: center;

    @include respond(tab-port) {
      width: 100%;
      padding-bottom: 2.5rem;
    }

    @include respond(phone-land) {
      min-width: 30rem;
      padding: 3rem;
    }

    @include respond(phone) {
      min-width: 29rem;
      padding: .5rem;
    }

    &__title {
      font-size: $font-tertiary-title-size;
      text-align: center;
      font-weight: 300;
      margin-bottom: 1.5rem;

      @include respond(laptop) {
        font-size: $font-tertiary-title-size-sm;
      }
    }

    &__para {
      padding: .8rem;
    }

    p {
      font-size: $font-paragraph-size;

      @include respond(laptop) {
        font-size: $font-paragraph-size-sm;
      }
    }
  }

  &__img {
    flex: 1 1 50%;
    height: 100%;
    width: 100%;

    @include respond(tab-port) {
      flex: 1 1 20rem;
      max-height: 30rem;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

