.feature {
  background-color: $color-yellow-2;

  &__wrapper {
    max-width: $inner-width;
    height: 40rem;
    margin: 5rem auto;


    display: grid;
    grid-template-columns: repeat(4, 25rem);
    grid-gap: 3rem;
    justify-content: space-around;

    &__box {
      // border: 2px solid $color-grey-2;
      // border-radius: 5px;

      display: flex;
      flex-direction: column;
      // align-items: center;

      &__top {
        flex-grow: 3;
        
        border: 1px solid $color-grey-2;
        border-radius: 5px 5px 0 0;
        background-color: $color-white;

        text-align: center;
        padding: auto;
        // align-self: center;
        align-content: center;
      }

      &__bottom {
        flex-grow: 4;

        border: 1px solid $color-grey-2;
        border-radius: 0 0 5px 5px;
        background-color: $color-yellow-1;
      }

    }
    
  }

}