.feature {
  background-color: $color-yellow-2;

  &__wrapper {
    max-width: $inner-width;
    height: 40rem;
    margin: 5rem auto;

    display: grid;
    grid-template-columns: repeat(4, 25rem);
    grid-gap: 3rem;
    justify-content: space-around;
    
  }

}