.navi {  
  background-color: $color-grey-3;
  display: flex;
  
  margin: 0;
  padding-right: 0;
  
  &__logo-lg {
    flex: 0 0 10rem;
    justify-self: center;

    width: 10rem;
    height: 10rem;
    padding: 1rem 2rem;

  }

  &__menu {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 0 2rem;

    font-size: 2rem;
    color: $color-yellow-3;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }

    @include respond(phone) {
      font-size: 1.5rem;
    }

    li {
      flex: 0 1 18rem;
      align-self: center;
      align-content: center;

      list-style: none;
      display: inline-block;

      text-align: center;
      transition: all .2s;
    }

    li a {
      padding: 1rem;
      display: block;
      text-align: center;
    }

    li a:link,
    li a:visited {
      color: $color-grey-1;
      text-decoration: none;
    }

    li a:hover,
    li a:active {
      border-bottom: 2px solid $color-yellow-3;
    }
  }
}