.visit-title {
  grid-column: far-left / far-right;
  grid-row: visit-title-top / visit-title-bottom;

  @include section-title;
  background-color: $color-grey-3;
}

.visit {
  grid-column: far-left / far-right;
  grid-row: visit-top / visit-bottom;
  background-color: $color-grey-3;
  padding-top: 3rem;
  padding-bottom: $section-padding-bottom;

}

.visit-frame {
  @include txt-img-box;
}

.visit-frame-rx {
  @include txt-img-box;
  flex-direction: row-reverse;
}

