.works {
  background-color: $color-brown-2;
  color: $color-yellow-3;

  display: grid;

  &__wrap {
    width: $inner-width;
    margin: auto;

    align-items: center;
    justify-content: center;

    font-size: 3rem;

    &__title {
      text-align: center;
      
      color: $color-yellow-3

    }
  }
}