.works {
  grid-row: works-top / works-bottom;
  grid-column: far-left / far-right;

  // padding: 10rem 0;
  @include section-padding;
  background-color: $color-brown-2;
  color: $color-yellow-3;

  display: grid;

  &__wrap {
    @include inner-div-txt;
    font-size: $font-secondary-title-size;

    @include respond(laptop) {
      font-size: $font-tertiary-title-size;
    }

    @include respond(desktop) {
      font-size: $font-tertiary-title-size;
    }
  }

  &__title {
    padding-bottom: 3rem;
    margin: auto;

    text-align: center;
    font-size: $font-secondary-title-size;
    color: $color-yellow-3
  }
}



.worksbox {
  width: 100%;

  display: flex;
  flex-direction: column;


  &__row {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: $works-row-height;
    margin: 2rem 0;

    @include respond(tab-land) {
      flex-direction: column;
      margin: 3rem 0;
      padding: 0 2rem;
    }

    &__icon {
      flex: 0 0 $works-smallsquare-size;
      margin: 0;

      display: flex;
      justify-content: center;

      i {
        margin: auto;
      }

      @include respond(tab-land) {
        flex: 0 1 $works-smallsquare-size-tab-land;
        padding: 0;
      }
    }

    &__bullet {
      flex: 0 0 $works-smallsquare-size;
      margin: 0;

      display: flex;

      &__box {
        width: 6rem;
        height: 6rem;
        margin: auto;
        border: 3px solid $color-yellow-3;
        border-radius: 50%;

        p {
          transform: translate(16px, -8px);

          @include respond(desktop) {
            transform: translate(17px, 0);
          }

          // @include respond(laptop) {
          //   transform: translate(17px, 0);
          // }
        }
      }
    }

    &__text {
      flex: 1 1 50rem;
      min-width: 20rem;

      display: flex;
      align-items: flex-start;

      @include respond(desktop) {
        // max-width: 48rem;
      }

      @include respond(tab-land) {
        flex: 0 1 10rem;
        text-align: center;
        margin: auto;
      }


      p {
        margin: auto 1rem;
        @include respond(tab-land) {
          margin: 0 auto;

        }
      }
    }

  }
}
